@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* We have to change the app-container div (App.jsx) and all of its ancestors to be 
 * 100% the height of the screen, so we can turn it into a flex box and make our 
 * .main-container fill the rest of the screen. */

html, body, #root, #app-container {
  height: 100%;
}

#app-container {
  display: flex;
  flex-direction: column;
}

/*********************************************
 *              NAV BAR STYLING              *
 *********************************************/

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #181818;
}

.navbar-li {
  float: left;
}

.navbar-text {
  text-decoration: none;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.navbar-text:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #000000;
}

.navbar-text:focus, .navbar-text:visited, .navbar-text:link, .navbar-text:active {
  text-decoration: none;
  color: #FFF;
}

/*********************************************
 *   MAIN CONTAINER STYLING FOR EVERY PAGE   *
 *********************************************/

.main-container {
  flex-grow: 1;
  background-image: linear-gradient(to bottom right, rgb(68, 11, 182), rgb(255, 128, 0));
}

/***********************************************
 *          ROOT PAGE HEADER STYLING           *
 ***********************************************/

 .header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 7rem;
  padding-top: 0.6rem;
}

.header-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #FFF;
}

.header-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}

/*********************************************
 *          ROOT PAGE IMAGE STYLING          *
 *********************************************/

.root-content-container {
  display: flex;
  gap: 8rem;
}

.root-image-border {
  width: 21rem;
  height: 21rem;
  background-color: #000000;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.root-image-container {
  width: 20rem;
  height: 20rem;
  /* 2.381% because we're putting a 20rem circle centered in a 21rem circle, so the border is 0.5 in width, which is 0.5/26 = ~0.02381 */
  top: 2.381%;
  left: 2.381%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

/**********************************************
 *               FOOTER STYLING               *
 **********************************************/

.footer-container {
  margin-bottom: 0;
  width: 100%;
  background-color: #181818;
  border-top: solid 1px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  gap: 2rem;
}

.social-icon {
  width: 2rem;
  height: 2rem;
}

.footer-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}